<div class="row">
  <h1>Educacion</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Tecnico electronico</h1>
        <h3>2 años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores fuga ex fugit ratione illum modi accusantium
        reiciendis aliquid minus nisi facilis aperiam tempora beatae totam vero, neque quasi consectetur a!
      </p>
      <li>
        <h1>Licenciado en organizacion de la produccion</h1>
        <h3>4 años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores fuga ex fugit ratione illum modi accusantium
        reiciendis aliquid minus nisi facilis aperiam tempora beatae totam vero, neque quasi consectetur a!
      </p>
      <li>
        <h1>Posgrado en gestion de proyectos</h1>
        <h3>1 años 6 meses</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores fuga ex fugit ratione illum modi accusantium
        reiciendis aliquid minus nisi facilis aperiam tempora beatae totam vero, neque quasi consectetur a!
      </p>
    </ul>
  </div>
</div>

