<div>
  <a href="https://www.linkedin.com/in/mauricio-hernán-de-la-cruz-ba4a4270/" target="_blank"><img src="../../../../assets/linkedin.png" id="linkedin"></a>
  <a href="https://www.kaggle.com/mauriciodelacruz" target="_blank"><img src="../../../../assets/kaggle.png" id="kaggle"></a>
  <a href="https://github.com/MHD1987" target="_blank"><img src="../../../../assets/github.png" id="github"></a>
  <a href="https://es.stackoverflow.com/users/297406/mauricio-de-la-cruz?tab=profile" target="_blank"><img src="../../../../assets/stackoverflow.png" id="stackoverflow"></a>
</div>
