  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
      <img src="../../../assets/perfil.png" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
      <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1>Acerca de mi</h1>
        <p>cositas Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti quasi rerum iure blanditiis
          consectetur enim modi quis adipisci minima, debitis nisi minus vero exercitationem numquam aliquam, nesciunt
          inventore harum? </p>
    </div>
  </div>


