.container{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
#ArgPro{
    width: 150px;
}
img{
  width: 35px;
  margin: 5px;
}
.redes{
  margin-right: 50px;
}
.btn{
  margin: 10px;
}


@media(max-width:575px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .redes{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn{
    margin: 5px;
  }
  img{
    margin: 2px;
  }
}
